@model web_dev_midterm.ViewModels.User.UserProfileVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (!string.IsNullOrEmpty(Model.Avatar))
{
    <div class="container" style="display: flex; justify-content: center;">
        <div class="col-md-3">
            <img src="data:image/jpeg;base64, 
                @Model.Avatar" alt="User Avatar" style="border-radius: 50%;width: 200px;height: 200px;">
        </div>
        
        <div class="col-md-8" style="display: flex; align-items: flex-start; flex-direction: column;">
            <div><p class="display-4"> @Model.UserName</p></div>
            <div style="display: flex">
                <p> @Model.PostCount постов</p>
                <p style="margin-left: 15px"> @Model.FollowerCount подписчиков</p>
                <p style="margin-left: 15px"> @Model.FollowingCount подписок</p>
            </div>
            <div style="display: flex">
                <p> @Model.Info </p>
            </div>
            @if (@Model.SourceId != @Model.TargetId)
            {
                <form method="post" asp-controller="User"
                      asp-action="Profile"
                      asp-route-sourceId="@Model.SourceId"
                      asp-route-targetId="@Model.TargetId">
                    @if (@Model.Subscribed)
                    {
                        <div style="display: flex">
                            <button type="submit" class="btn btn-secondary"> Отписаться </button>
                        </div>
                    }
                    else
                    {
                        <div style="display: flex">
                            <button type="submit" class="btn btn-secondary"> Подписаться </button>
                        </div>   
                    }
                </form>
            }
            else
            {
                <form method="get" asp-controller="Post" asp-action="Add">
                     <button type="submit" class="btn btn-secondary"> Добавить пост </button>
                </form>
            }
        </div>
    </div>
    <div>
        <div class="container" style="margin-top: 50px;">
            <div class="row">
                @foreach (var post in Model.Posts)
                {
                    <a asp-controller="Post" asp-action="Details"
                       asp-route-postId="@post.Id"
                       asp-route-userId="@Model.TargetId" style="width: auto">
                        <div class="card">
                            <div class="card-body">
                                @post.Description
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>

}

